<%= form_for @user do |form| %>

  <div class="text-field mr">
    <%= form.label :username %>
    <%= form.text_field :username, type: 'text', class: "form-control" %>
  </div>

  <div class="text-field mr">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email', class: "form-control" %>
  </div>

  <div class="password-field mr ">
    <%= form.label :password %>
    <%=  form.password_field :password, class: "form-control"  %>
  </div>

  <div class="field mr">
    <%= form.label :profile_picture %>
    <%= form.file_field :profile_picture %>
  </div>

  <div>
    <%= form.submit class: "btn" %>
  </div>
<% end %>