<%= link_to "Back", users_path %>
<div>
    <div class="text-field mr">
        <h2><strong>Username :</strong> <%= @user.username %></h2>
    </div>

    <div class="text-field mr">
        <h2><strong>Email :</strong> <%= @user.email %></h2>
    </div>
<% if @user.id != current_user&.id && !@user.followers.exists?(following_id: current_user&.id) %>
    <%= button_to "Follow", user_follows_path(@user), method: :post, class: "comment-button" %>
<% end %>

</div>

<hr>

<h2><u>Followings</u></h2>

<% @user.following_users.each do |following| %>
  <div>
    <strong><%= following.username %></strong> : <strong><%= following.email %></strong>
  </div>
<% end %>


<h2><u>Followers</u></h2>

<% @user.follower_users.each do |follower| %>
  <div>
    <strong><%= follower.username %></strong> : <strong><%= follower.email %></strong>
  </div>
<% end %>