
<%= link_to "Back", users_path %>
<div>
    <div class="text-field mr">
        <h2><strong>Username :</strong> <%= @user.username %></h2>
    </div>

    <div class="text-field mr">
        <h2><strong>Email :</strong> <%= @user.email %></h2>
    </div>
<% if @user.id != current_user.id && !@user.followers.exists?(following_id: current_user.id) %>
    <%= button_to "Follow", user_follows_path(@user), method: :post, class: "comment-button" %>
<% end %>

</div>

<hr>

<h2><u>Following</u></h2>

<% @user.followings.each do |following| %>
  <p><strong><%= User.find(following.follower_id).username %></p>
<% end %>


<h2><u>Following</u></h2>

<% @user.followers.each do |follower| %>
  <p><strong><%= User.find(follower.following_id).username %></p>
<% end %>