<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
<p style="color: green"><%= notice %></p>



<%= link_to "Back to post", posts_path, class: "mr" %>  
<br><br>
<div class="d-flex ">
  <div>
  <% if @post.post_image.attached? %>
    <%= image_tag @post.post_image %>
  <% else %>
    <img src="https://blog.ipleaders.in/wp-content/uploads/2017/05/iPleaders-19-696x391.jpg" class="width_1" />
  <% end %>
  </div>
  <div>
    <h1 class="mr padding"><%= @post.title  %></h1>
    <p class="mr padding"><%= @post.description %></p>
    <% if !current_user.nil? %>
      <hr>
      <div class="d-flex ">
        <% if @post.likes.present? %>
          <div class="mr action_btn_size">
            <i class="bi bi-suit-heart-fill"></i>
          </div>
        <% else %>
          <%= button_to post_likes_path(@post), method: :post, class: "transparent_btn mr action_btn_size" do%>
            <i class="bi bi-suit-heart"></i>
          <% end %>
        <% end %>

          


        <%= link_to edit_post_path(@post.id), class: "mr action_btn_size" do%> 
          <i class="bi bi-pencil"></i>
        <% end %>
        
        <%= button_to "Delete", @post, method: :delete , class:"mr delete-button" %>
      </div>
    <% end %>
  </div>
</div>
<hr>       
  <div class="d-flex ">    
        <p class="mr padding">Published on <%= @post.created_at.strftime('%B %d, %Y') %></p>

          <div>
            <%= raw @diff %>
          </div>

            <% if @previous_version && @previous_version.object.present? && @current_version && @current_version.object.present? %>
              <div>
                <p>Current Version:</p>
                <% raw Diffy::Diff.new(@previous_version.object.to_s, @current_version.object.to_s).to_s(:html) %>
              </div>
            <%# else %>
              <p>Previous version .</p>
            <% end %>
            

          <% @versions.each do |version| %>
            <div>
              <p>Version <%= version.index + 1 %></p>
              <p>Changes:</p>
              <%= raw(simple_format(version.object)) %>
              <p>Modified at <%= version.created_at %></p>
            </div>
          <% end %>
  </div>
<hr>
<h2>Comments</h2>

<% if !current_user.nil? %>
  <%= form_with(model: [ @post, Comment.new ], local: true) do |form| %>
    <div>
      <%= form.label :description, "New Comment" %>
      <br>
      <br>
      <%= form.text_area :description, rows: 10, cols: 100 %>
    </div>
    <div>
      <%= form.submit "Submit", class:"comment-button" %>
    </div>
  <% end %>
<% end %>

<hr>

<% @post.comments.each do |comment| %>
  <p><strong><%= comment.user.email %> : </strong> <%= comment.description %></p>
<% end %>
